.contact-us-popup {
  text-align: center;

  .popup-modal {
    .header {
      border: none;
    }

    .content {
      padding-top: 0;
    }
  }

  .text3 {
    a {
      text-decoration: none;
    }
  }
}
