.register-page{
    .register-logo{
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            margin-top: 2rem;
            width: 60%;
        }
    
    }

    .register-heading{
        font-family: Gotham;
        font-size: 20px;
        padding: 10px;
    }

    .checkbox-div{
        
    }
}

